# personal configuration files
# developer/configurations/*
# !developer/configurations/default.nix
# !developer/configurations/theme.nix
# !developer/configurations/desktop/default.nix

options/local/*

**/options-definition.nix
